# Default server configuration

server {
        {% for nginx_listen_port in nginx_listen_ports %}
        listen {{ nginx_listen_port }} default_server;
        listen [::]:{{ nginx_listen_port }} default_server;
        {% endfor %}

        server_name _;

        root {{ nginx_document_root }};

        index index.html index.htm index.nginx-debian.html;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
        }
}
